- form.inputs do
  = form.input :language
  = form.input :standard_form, :label => 'Entry'
- form.inputs :class => 'mandarin' do
  = form.input :transliteration, :label => "Pinyin (no tones)"
  = form.input :transliteration_2, :label => "Pinyin"
  = form.input :transliteration_3, :label => "Gwoyeu Romantzyh"
- form.inputs do
  = form.input :image_data, :as => :hidden
- form.buttons do
  = form.commit_button
  %ul.actions
    %li= link_to 'Cancel', cancel_link


%canvas#drawing{:width => "500", :height => "300"}
  %p 
    %strong Alert!
    You don't have a HTML5 compatible browser! Download and install the one of the following browsers:
    %ul 
      %li Firefox 
      %li Google Chrome
      %li Safari 4+
      %li IE 8+

:javascript
  Drawing.init('#drawing');
  $('#drawing').mouseup(function() {
    $('#entry_image_data').val($('#drawing')[0].toDataURL());
  });  
  var updateFields = function() {
    var id = $('select#entry_language_id').val();
    var language;
    if(id == "") {
      language = "";
    } else {
      language = $('select#entry_language_id option')[id].text;
    }
    switch(language) {
      case 'Mandarin':
        $('.mandarin').slideDown();
        break;
      default:
        $('.mandarin').slideUp();
        break;
    }
  }
  $('select#entry_language_id').change(function(e) {
    updateFields();
  })
  $('.mandarin').hide();