#user_bar.site
  %ul.actions
    - if current_user
      %li= link_to 'study', study_path(current_user.id, :start), :class => 'main'
      %li= link_to 'decks', user_decks_path(current_user)
      %li= link_to 'account', user_path(current_user)
      %li= link_to 'log out', user_session_path, :method => :delete
    - else
      %li= link_to 'log in', new_user_session_path, :class => 'main'
      %li= link_to 'sign up', new_user_path
