:ruby
  heading 'Decks' do |back, forward|
    forward.title = 'New Deck'
    forward.path = new_user_deck_path(@user)
  end

%table
  %thead
    %tr
      %th Decks
      %th Cards
      %th
  %tbody
    - @decks.each do |deck|
      %tr
        %td= link_to h(deck.name), deck_path(deck)
        %td.card_count= deck.cards.count
        %td
          %ul.actions
            %li= link_to 'Study deck', study_path(@user.id, :start, :deck_id => deck.id)
            %li= link_to 'Add card', new_deck_card_path(deck)
            %li= link_to 'Destroy', deck_path(deck), :method => :delete
        
