%h2= object.name

%table.cards-in-deck
  %thead 
    %tr 
      %th 
      %th Cards
      %th
        %ul.actions
          %li= link_to 'Add card', new_deck_card_path(object)
        
  %tbody
    - object.cards.each_with_index do |card, i|
      %tr
        %td.ref= "##{(i + 1)}"
        %td= render '/cards/card', :object => card
        %td.actions
          %ul.actions
            %li= link_to 'Edit', edit_card_path(card)
          

%ul.actions
  %li= link_to '<< Back', user_decks_path(@deck.user)
  %li= link_to 'Edit', edit_object_path
  %li= link_to 'Destroy', object_path, :confirm => 'Really destroy?', :method => :delete
