:ruby
  heading object.name do |back, forward|
    back.title = 'Decks'
    back.path = user_decks_path(@deck.user)
    forward.title = 'Add Card'
    forward.path = new_deck_card_path(object)
  end

%ul.actions
  %li= link_to 'Edit', edit_object_path
  %li= link_to 'Destroy', object_path, :confirm => 'Really destroy this deck?', :method => :delete

%table.cards-in-deck
  %thead 
    %tr 
      %th 
      %th Cards
      %th
        
  %tbody
    - object.cards.each_with_index do |card, i|
      %tr
        %td.ref= "##{(i + 1)}"
        %td= render '/cards/card', :object => card
        %td.actions
          %ul.actions
            %li= link_to 'Edit', edit_card_path(card)
          

