- content_for :head do
  %style{:type => "text/css"}
    :sass
      .card
        :display none

  :javascript
    var flashCards;
    var studying = Studying({
      getCardsUrl:'#{study_path(@user.id, :cards, :date => "today")}'
      ,putCardUrl:'#{study_path(@user.id, :process_recall_result, :format => "json")}'
      ,spinnerDom:'#thespinner'
      ,cardDom:'.card'
      ,questionContainerDom:'.question-container'
      ,questionDom:'.question'
      ,answerContainerDom:'.answer-container'
      ,answerDom:'.answer'
      ,showAnswerDom:'#showAnswer'
      ,updateStatus: function(studying) {
        $('#status').html(studying.cardsRemaining().toString() + " cards remaining");
      }
    });
    $(document).ready(function() { 
      studying.loadCards();
      $('a#showAnswer').click(function() {
        studying.showAnswer();
        return false;
      });
      $('.qualityOfRecall a').click(function(element) {
        studying.processQualityOfRecall($(this).attr('ref'));
        return false;
      });
    });
  

%ul.actions
  %li= link_to 'Study schedule (iCal)', study_url(@user.id, 'schedule', :protocol => 'webcal')


#thespinner
  = image_tag 'branding/spinner.gif'

.card
  #status
  .question-container
    %label Question
    .question
    .button-bar
      %ul.actions
        %li= link_to 'show answer', '', {:id => 'showAnswer'}
  .answer-container
    %label Answer
    .answer
    .button-bar
      %ul.actions
        %li.qualityOfRecall.q0= link_to 'Unknown', '', {:ref => 0}
        %li.qualityOfRecall.q1= link_to 'Bad', '', {:ref => 1}
        %li.qualityOfRecall.q2= link_to 'Almost', '', {:ref => 2}
        %li.qualityOfRecall.q3= link_to 'Pass', '', {:ref => 3}
        %li.qualityOfRecall.q4= link_to 'Good', '', {:ref => 4}
        %li.qualityOfRecall.q5= link_to 'Perfect', '', {:ref => 5}
  