:ruby
  heading 'Study' do |back, forward|
    back.title = 'Decks'
    back.path = user_decks_path(@user)
    forward.title = 'Study Plan'
    forward.path = study_url(@user.id, 'schedule', :protocol => 'webcal')
  end

- content_for :head do
  %style{:type => "text/css"}
    :sass
      .card, #finished
        :display none

  :javascript
    var flashCards;
    var studying = Studying({
      putCardUrl:'#{study_path(@user.id, :process_recall_result, :format => "json")}'
      ,spinnerDom:'#thespinner'
      ,cardDom:'.card'
      ,questionContainerDom:'.question'
      ,questionDom:'.question .container'
      ,answerContainerDom:'.answer'
      ,answerDom:'.answer .container'
      ,deckDom:'#deck'
      ,showAnswerDom:'#showAnswer'
      ,finishedDom: '#finished'
      ,updateStatus: function(studying) {
        $('#status').html(studying.cardsRemaining().toString() + " cards remaining");
      }
    });
    $(document).ready(function() { 
      studying.loadCards('#{@card_path}');
      $('a#showAnswer').click(function() {
        studying.showAnswer();
        return false;
      });
      $('.qualityOfRecall a').click(function(element) {
        studying.processQualityOfRecall($(this).attr('ref'));
        return false;
      });
    });

#thespinner
  = image_tag 'branding/spinner.gif'

.card
  #deck
  #status
  .question
    %label Question
    .container
    .button-bar
      %ul.actions
        %li= link_to 'show answer', '', {:id => 'showAnswer', :class => 'main'}
  .answer
    %label Answer
    .container
    .button-bar
      %ul.actions
        %li.qualityOfRecall.q0= link_to 'Unknown', '', {:ref => 0, :class => 'main'}
        %li.qualityOfRecall.q1= link_to 'Bad', '', {:ref => 1, :class => 'main'}
        %li.qualityOfRecall.q2= link_to 'Almost', '', {:ref => 2, :class => 'main'}
      %ul.actions
        %li.qualityOfRecall.q3= link_to 'Pass', '', {:ref => 3, :class => 'main'}
        %li.qualityOfRecall.q4= link_to 'Good', '', {:ref => 4, :class => 'main'}
        %li.qualityOfRecall.q5= link_to 'Perfect', '', {:ref => 5, :class => 'main'}
  
#finished
  %p You have no more cards to study.
  %p Would you like to re-study one of the following decks?
  %ul.actions
    - @user.decks.each do |deck|
      %li.new_line
        = link_to deck.name, study_path(@user.id, :start, :deck_id => deck.id)
