!!!
%html
  %head
    %meta{'http-equiv' => "Content-Type", :content => "text/css; charset=utf-8"}
    %title= yield(:title) || App[:name]
    = stylesheet_link_tag 'formtastic', 'formtastic_changes', 'jquery-ui-1.7.2.custom', 'main'
    - iphone_section do
      %meta{:name => "viewport" , :content => "initial-scale=1.0"}
      = stylesheet_link_tag 'iphone'
    = javascript_include_tag 'jquery-1.3.2.min', 'jquery-ui-1.7.2.custom.min', 'queue', 'application', 'study'
    = yield(:head)
  %body{:onload => (yield(:body_onload) || ''), :class => "#{params[:controller]}_#{params[:action]}"}
    #container
      #title_bar
        = render :partial => 'shared/user_bar'
        %h1= App[:name]
      #main
        #header
          / %ul.actions
          /   %li#header-back= yield(:back)
          /   %li#header-heading
          /     %h2= yield(:heading)
          /   %li#header-forward= yield(:forward)
          %table
            %tr
              %td#header-back= yield(:back)
              %td#header-heading
                %h2= yield(:heading)
              %td#header-forward= yield(:forward)
        = yield
      #footer
        - development_section do
          %ul.actions
            %li= link_to 'normal', '?browser=normal'
            %li= link_to 'iphone', '?browser=iphone'
